/* ArticleModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}
.custom-file{
  padding: 9px ;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
  background-color: #9a9e9f;
  color: white;

}
.custom-file:hover {
  background-color: #555;
    color: white;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 550px;
  max-height: 690px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.validation-error{
  color: red;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #444;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.image-preview {
  max-width: 150px;
  max-height: 100px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: block;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancel, .btn-save {
  padding: 9px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* font-weight: 600; */
}

.btn-cancel {
  background-color: #f0f0f0;
  color: #555;
}

.btn-save {
  background-color: #9a9e9f;
  color: white;
}

.btn-cancel:hover{
    background-color: #555;
    color: white;
}
.btn-save:hover {
    background-color: #555;
    color: white;
}
.btn-save:disabled {
  background-color: #aaa;
}

.modal-error {
  color: red;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}
